@charset "utf-8";
/* レスポンシブルデザインは下記内に記載する */
@media screen and(max-width:480px) {
}
body{
  background-color: lightskyblue;
  width: 100%;
}
/* ヘッダー操作 */
/* ヘッダー */
header{
  text-align: center;
  font-size: 30px;
  margin: 1% 0 1% 0;
}

/* タイトル */
.title{
  text-align: center;
  margin: 20px auto 20px auto;
}

/* 登録エリア */
.regi_area{
  width: 50%;
  margin: auto;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: aquamarine;
}
.select_list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 20px 5% 20px 5%;
}
.select_input{
  width: 50%;
}
/* 登録ボタン */
.regi_button{
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.register_button{
  width: 20%;
}

/* 登録後のポップアップ */
form {
  width: 400px;
  padding: 40px 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: lightseagreen;
  text-align: center;
  border-radius: 5px;
}
form h1,form p {
  color: black;
  font-weight: 500;
  font-size: 24px;
}
